firmware.cywrk.*
firmware.cydsn/firmware.cyprj.*
firmware.cydsn/codegentemp/*
firmware.cydsn/DP8051_Keil_951/*
firmware.cydsn/Generated_Source/*
ComponentUpdateLog.txt
Archive/firmware.cywrk.Archive01.zip
Backup/firmware._3.0_SP1.zip